@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

p {
  margin: 0;
}

.home-page {
  background: #EFF7FF;

}
.link {
  text-decoration: none;
  color:#FFE2E0;
}